---
import links from 'public/links.json'

import { Collapse } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [{ depth: 2, slug: 'common-links', text: 'Common Links' }]

const { friends } = links
---

<PageLayout title='Links' {headings} comment={false}>
  <p>友链环节</p>

  <!-- 我的朋友 -->
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />

  <!-- 状态不佳的友链（折叠） -->
  {
    friends[1].link_list.length > 0 && (
      <Collapse title='Links with Bad Status'>
        <FriendList list={friends[1]} />
      </Collapse>
    )
  }

  <!-- 我收藏的网站（折叠列表）
  <h2 id='special-links'>Special Links</h2>
  <Collapse title='开发工具' open>
    <FriendList list={friends[2]} />
  </Collapse> -->

  <!-- 你可以添加更多折叠组 -->
  <!-- <Collapse title='学习资源'>
    <FriendList list={friends[3]} />
  </Collapse> -->
</PageLayout>
